{
  "packages": [
    "go@1.26",
    "sqlc@1",
    "python@3.14",
    "git@2",
    "curl@8",
    "openssl@3",
    "jq@1",
    "yq@3",
    "gh@2",
    "postgresql@17",
    "nodejs@24",
    "podman@5",
    "podman-compose@1"
  ]
}
